input[type=text],input[type=password], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    
}

input[type=submit]:hover {
    background-color: #45a049;
}

